<html>
	<body>
		<form action="/produtos" method="post">
			<div>
				<label for="titulo">Titulo</label>
				<input type="text" name="titulo" id="titulo" placeholder="Informe o titulo" />
			</div>
			<div>
				<label for="descricao">Descricao</label>
				<textarea cols="20" rows="10" id="descricao" name="descricao" placeholder="Fale sobre o produto"></textarea>
			</div>
			<div>
				<label for="preco">Preco</label>
				<input type="text" name="preco" placeholder="Informe o preço" />
			</div>

			<input type="submit" value="gravar" />
		</form>
	</body>
</html>